#nav-bar {

  position: absolute;
  top: 0px;
  height: 80px;
  width: 100%;
  background: #00a087;
  color: #e8fdff;
  padding: 0em 25%;

}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  vertical-align: middle;
}

#nav-bar .header {
  display: inline-block;
  line-height: 30px;
  font-size: 3em;
  margin-left: 10px;
  vertical-align: middle;

}

.compose {
  display: inline-block;
  float: right;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  color: white;
  background: #000;
  font-size: 1em;
  vertical-align: middle;
  position: relative;
  top: 15px;
  opacity: .60;

}

.compose:hover {

  opacity: 1;

}